#draw {
	position:relative;
	overflow:hidden;
}

#draw div {
	width:512px;
	height:512px;
	position:absolute;
}

#progress {
	position:relative;
	width:512px;
	height:20px;
	cursor:pointer
}

#map {
	width: 512px;
	height: 512px;
}

.loading{
	background: url(../images/load.gif) center center no-repeat;
}

.loading div {
	display: none;
}

/* hide the directions from google - HACKY - */
.adp {
	display:none;
}
